<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>project01_board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- DBCP(Database Connection Pool) -->
<!--   <resource-ref>
  	<description>Oracle DataSource</description>
  	<res-ref-name>jdbc/myOracle</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
   -->
    <!-- Servlet 게시판  -->
    
 
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/mysql</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

  <servlet>
  	<servlet-name>project01Servlet</servlet-name>
  	<servlet-class>com.ediya.board.mindae.Board_Controller_mindae</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>project01Servlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- score Servlet으로 -->
  

  <!-- Encoidng 필터 -->
<!--   <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
   -->

  
  <!-- 리스너 -->
<!--   <listener>
  	<listener-class>com.event.CountManager</listener-class>
  </listener> -->
  
  <!-- ContextListenerTest -->
  <!-- <listener>
  	<listener-class>com.event.ContextListenerTest</listener-class>
  </listener> -->
  
  
</web-app>