@CHARSET "UTF-8";

/* 여백 초기화 */
*{margin:0; padding:0;}

/* 시멘틱 요소 블록화 */
header, aside, article, footer, hgroup, menu, nav, section, details, figure, figcaption {display:block;}

/* 폰트 초기화 */
body{
	font-family: "나눔 바른 고딕", "Nanum Barun Gothic", "나눔 고딕", 
	"Nanum Gothic", "맑은 고딕", "Malgun Gothic", helvetica, sans-serif; 
	font-size:16px;
}

/* 링크 초기화 */
a {color:#2f3743; text-decoration:none;}
a:hover {color:#390;}

/* 제목 폰트 초기화 */
/* h1, h2, h3, h4, h5, h6 {font-size:12px; font-weight:normal; } */

/* 블릿 기호 초기화 */
ul, li, ol {list-style:none;}

/* 테두리 초기화 */
img, fieldset {border:none;}

/* 블라인드 효과 */
.blind {width:0; height:0; left:0; top:0; font-size:0; line-height:0; overflow:hidden; position:absolute; }

/* td간격 없앰*/
table{border-collapse:collapse;}
address{font-style:normal;}
caption{display:none;}
input[type=button], input[type=image], button{cursor:pointer;}
input[type=text]::-ms-clear {display:none;}
